<div class="fullwidth-block">
    <div class="container">
        <h1>Về Chúng Tôi</h1>
        <p class="leading muted">Nexus Communication System là một trong những tập đoàn tiên phong trong mạng lướt kỹ thuật, công nghệ thông tin, phủ sóng dịch vụ tại hầu hết các tỉnh thành trên toàn quốc cũng như tại nhiều quốc gia trên thế giới </p>
    </div>
</div>
<div class="fullwidth-block">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <img src="dummy/figure-image-1.jpg" alt="" class="pull-left">
                <h3>Lịch Sử Hình Thành</h3>
                <p>
                    Được Thành lập vào năm 06/09/1969, Nexus Communication System là công ty dịch vụ công nghệ Thông tin.
                    Công ty Nexus Communication System hoạt động trong 2 lĩnh vực chính gồm: công nghệ và viễn thông.
                    Nexus Communication System sở hữu hạ tầng viễn thông phủ sóng hầu hết toàn cầu, trong đó có Việt Nam. Hiện nay, công ty đang có 1200 văn phòng tại 150 quốc gia và vùng lãnh thổ.
                </p>

                <p>
                    Trong suốt quá trình hoạt động, FPT luôn không ngừng nỗ lực với mục tiêu cao nhất là mang lại sự hài lòng cho khách hàng. 
                    Với hơn 50 năm hoạt động và phát triển, công ty đã gặt hái được không ít những thành tựu nổi bật cùng với doanh thu của công ty trong các năm đều đạt được những con số cực kỳ ấn tượng.
                </p>

                <hr class="spacer">

                <img src="dummy/figure-image-1.jpg" alt="" class="pull-left">
                <h3>Sứ Mệnh và Nhiệm Vụ</h3>
                <ul>
                    <li>
                        Khai thác, vận hành và quản lý dịch vụ viễn thông cũng như dịch vụ Internet.
                    </li>
                    <li>
                        Hoạt động kinh doanh dịch vụ mạng viễn thông tại thị trường Việt Nam và thị trường nước ngoài.
                    </li>
                    <li>
                        Tư vấn, thiết kế và triển khai các dự án viễn thông được nhà nước chấp thuận.
                    </li>
                    <li>
                        Sản xuất, lắp ráp, cung ứng các thiết bị viễn thông, thiết bị bảng điều khiển và các thiết bị điện khác
                    </li>
                </ul>


    
</div>
            <div class="col-md-3 col-md-offset-1">
                <aside class="boxed-content" data-bg-color="#f6f7f9">
                    <h3 class="wow fadeInUp">Tầm Nhìn</h3>
                    <p class="wow fadeInUp">
                        "Nexus Communication System định hướng phát triển thành Tập đoàn Công nghệ - Thương mại Dịch vụ hàng đầu thế giới"
                    </p>

                    <hr class="spacer">
                    <h3 class="wow fadeInUp">Giá Trị Cốt Lõi</h3>
                    <p class="wow fadeInUp">"Khách hàng là trọng tâm - Đổi mới sáng tạo - Hợp tác mục tiêu chung - Phát triển bản thân - Làm việc hiệu quả"</p>
                </aside>
            </div>
        </div>
    </div>
</div>
<div class="fullwidth-block team-section" data-bg-color="#f6f7f9">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="team wow bounceIn">
                    <figure class="team-image"><img src="dummy/person-1.jpg" alt=""></figure>
                    <h3 class="team-name">Sarah James</h3>
                    <p>Pretium nec tincidunt sit amet, pellentesque aliquet metus. Morbi id elementum est.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team wow bounceIn" data-wow-delay=".2s">
                    <figure class="team-image"><img src="dummy/person-2.jpg" alt=""></figure>
                    <h3 class="team-name">Chris Harris</h3>
                    <p>Pretium nec tincidunt sit amet, pellentesque aliquet metus. Morbi id elementum est.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team wow bounceIn" data-wow-delay=".4s">
                    <figure class="team-image"><img src="dummy/person-3.jpg" alt=""></figure>
                    <h3 class="team-name">Monique Smith</h3>
                    <p>Pretium nec tincidunt sit amet, pellentesque aliquet metus. Morbi id elementum est.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team wow bounceIn" data-wow-delay=".6s">
                    <figure class="team-image"><img src="dummy/person-4.jpg" alt=""></figure>
                    <h3 class="team-name">James Mark</h3>
                    <p>Pretium nec tincidunt sit amet, pellentesque aliquet metus. Morbi id elementum est.</p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- .team-section -->

<div class="fullwidth-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow fadeInUp">
                <h1>Donec ac risus sodales mollis diam dignissim tempus eros</h1>
                <p class="leading">Nunc molestie enim felis convallis vitae blandit ligula elementum tincidunt sit ultricies integer amet sollicitudin urna donec tempus</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacus vitae leo dapibus euismod id a sem. Donec sit amet nisi amet nisi varius maximus. Sed mi arcu, tempus ut laoreet ultricies, pellentesque diam.</p>

                <p>mauris, sit amet sodales odio volutpat sit amet. Pellentesque bibendum, sapien nec feugiat interdum, enim erat pellentesque nunc sollicitudin enim ipsum euismod risus. Aliquam sit amet ipsum enim phasellus.</p>
            </div>
            <div class="col-md-6">
                <h1 class="wow fadeInRight">Cras rhoncus eros ligula amet fringilla ex accumsan placerat</h1>

                <ul class="list-check">
                    <li class="wow fadeInRight">
                        <i class="fa fa-check"></i>
                        <h3>Lorem ipsum dolor amet consectetur adipiscing</h3>
                        <p>Vitae leo dapibus euismod id a sem donec sit amet nisi amet</p>
                    </li>
                    <li class="wow fadeInRight">
                        <i class="fa fa-check"></i>
                        <h3>Lorem ipsum dolor amet consectetur adipiscing</h3>
                        <p>Vitae leo dapibus euismod id a sem donec sit amet nisi amet</p>
                    </li>
                    <li class="wow fadeInRight">
                        <i class="fa fa-check"></i>
                        <h3>Lorem ipsum dolor amet consectetur adipiscing</h3>
                        <p>Vitae leo dapibus euismod id a sem donec sit amet nisi amet</p>
                    </li>
                    <li class="wow fadeInRight">
                        <i class="fa fa-check"></i>
                        <h3>Lorem ipsum dolor amet consectetur adipiscing</h3>
                        <p>Vitae leo dapibus euismod id a sem donec sit amet nisi amet</p>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>