
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/FrontEnd/Views/Shared/_Layout.cshtml";
}


<div class="breadcrumbs">
    <div class="container">
        <a href="@Url.Action("Index","/HomeFrontEnd")">Home</a> &rarr;
        <a href="#">About Us</a>
    </div>
</div>

<div class="page-content">
    @{ Html.RenderAction("SearchAboutUS", "AboutUs", new { Page = 1 });}

</div> <!-- .inner-content -->