
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/FrontEnd/Views/Shared/_Layout.cshtml";
}


<div class="breadcrumbs">
    <div class="container">
        <a href="index.html">Home</a> &rarr;
        <a href="#">About Us</a>
    </div>
</div>

<div class="page-content">


    <div class="fullwidth-block">
        <div class="container">
            <h1>Nulla hendrerit urna pellentesque rutrum nullam euismod</h1>
            <p class="leading muted">Aliquam nibh quam iaculis tempus dignissim quis faucibus etiam dignissim tempus nibh nec venenatis turpis bibendum vivamus laoreet odio eleifend iaculis</p>
        </div>
    </div>
    <div class="fullwidth-block">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <img src="dummy/figure-image-1.jpg" alt="" class="pull-left">
                    <h3>Interdum et malesuada fames ac ante ipsum</h3>
                    <p>Quisque ligula mauris, pretium nec tincidunt sit amet, pellentesque aliquet metus. Morbi id elementum est. Sed hendrerit turpis lobortis, auctor ante eget, mattis nisi. Nam scelerisque blandit nisi eget tempus aliquam erat volutpat. </p>

                    <p>Nunc molestie enim eu felis convallis, vitae blandit ligula elementum. Ut tincidunt id nisi eget ultricies integer amet sollicitudin urna. Donec tempus augue ut diam imperdiet.</p>

                    <hr class="spacer">

                    <img src="dummy/figure-image-1.jpg" alt="" class="pull-left">
                    <h3>Interdum et malesuada fames ac ante ipsum</h3>
                    <p>Quisque ligula mauris, pretium nec tincidunt sit amet, pellentesque aliquet metus. Morbi id elementum est. Sed hendrerit turpis lobortis, auctor ante eget, mattis nisi. Nam scelerisque blandit nisi eget tempus aliquam erat volutpat. </p>

                    <p>Nunc molestie enim eu felis convallis, vitae blandit ligula elementum. Ut tincidunt id nisi eget ultricies integer amet sollicitudin urna. Donec tempus augue ut diam imperdiet.</p>

                </div>
                <div class="col-md-3 col-md-offset-1">
                    <aside class="boxed-content" data-bg-color="#f6f7f9">
                        <h3 class="wow fadeInUp">Interdum et malesuad</h3>
                        <p class="wow fadeInUp">Nunc molestie enim eu felis convallis, vitae blandit ligula elementum. Ut tincidunt id nisi eget ultricies integer amet sollicitudin urna. Donec tempus augue ut diam imperdiet.</p>

                        <hr class="spacer">
                        <h3 class="wow fadeInUp">Fames ac ante ipsum</h3>
                        <p class="wow fadeInUp">Quisque ligula mauris, pretium nec tincidunt sit amet, pellentesque aliquet metus. Morbi id elementum est.</p>
                    </aside>
                </div>
            </div>
        </div>
    </div>

    <div class="fullwidth-block team-section" data-bg-color="#f6f7f9">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="team wow bounceIn">
                        <figure class="team-image"><img src="dummy/person-1.jpg" alt=""></figure>
                        <h3 class="team-name">Sarah James</h3>
                        <p>Pretium nec tincidunt sit amet, pellentesque aliquet metus. Morbi id elementum est.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team wow bounceIn" data-wow-delay=".2s">
                        <figure class="team-image"><img src="dummy/person-2.jpg" alt=""></figure>
                        <h3 class="team-name">Chris Harris</h3>
                        <p>Pretium nec tincidunt sit amet, pellentesque aliquet metus. Morbi id elementum est.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team wow bounceIn" data-wow-delay=".4s">
                        <figure class="team-image"><img src="dummy/person-3.jpg" alt=""></figure>
                        <h3 class="team-name">Monique Smith</h3>
                        <p>Pretium nec tincidunt sit amet, pellentesque aliquet metus. Morbi id elementum est.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team wow bounceIn" data-wow-delay=".6s">
                        <figure class="team-image"><img src="dummy/person-4.jpg" alt=""></figure>
                        <h3 class="team-name">James Mark</h3>
                        <p>Pretium nec tincidunt sit amet, pellentesque aliquet metus. Morbi id elementum est.</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .team-section -->

    <div class="fullwidth-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow fadeInUp">
                    <h1>Donec ac risus sodales mollis diam dignissim tempus eros</h1>
                    <p class="leading">Nunc molestie enim felis convallis vitae blandit ligula elementum tincidunt sit ultricies integer amet sollicitudin urna donec tempus</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacus vitae leo dapibus euismod id a sem. Donec sit amet nisi amet nisi varius maximus. Sed mi arcu, tempus ut laoreet ultricies, pellentesque diam.</p>

                    <p>mauris, sit amet sodales odio volutpat sit amet. Pellentesque bibendum, sapien nec feugiat interdum, enim erat pellentesque nunc sollicitudin enim ipsum euismod risus. Aliquam sit amet ipsum enim phasellus.</p>
                </div>
                <div class="col-md-6">
                    <h1 class="wow fadeInRight">Cras rhoncus eros ligula amet fringilla ex accumsan placerat</h1>

                    <ul class="list-check">
                        <li class="wow fadeInRight">
                            <i class="fa fa-check"></i>
                            <h3>Lorem ipsum dolor amet consectetur adipiscing</h3>
                            <p>Vitae leo dapibus euismod id a sem donec sit amet nisi amet</p>
                        </li>
                        <li class="wow fadeInRight">
                            <i class="fa fa-check"></i>
                            <h3>Lorem ipsum dolor amet consectetur adipiscing</h3>
                            <p>Vitae leo dapibus euismod id a sem donec sit amet nisi amet</p>
                        </li>
                        <li class="wow fadeInRight">
                            <i class="fa fa-check"></i>
                            <h3>Lorem ipsum dolor amet consectetur adipiscing</h3>
                            <p>Vitae leo dapibus euismod id a sem donec sit amet nisi amet</p>
                        </li>
                        <li class="wow fadeInRight">
                            <i class="fa fa-check"></i>
                            <h3>Lorem ipsum dolor amet consectetur adipiscing</h3>
                            <p>Vitae leo dapibus euismod id a sem donec sit amet nisi amet</p>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

</div> <!-- .inner-content -->