@{
    //ViewBag.Title = "Index";
    Layout = "~/Areas/FrontEnd/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <a href="index.html">Home</a> &rarr;
                <a href="#">News</a>
            </div>            
            <div class="col-md-5 col-sm-12">
                <input type="text" class="form-control" id="txtSearchService" placeholder="Nội dung tìm kiếm" />
            </div>
            <div class="col-md-2 col-sm-12">
                <button class="btn btn-block btn-primary" id="btnSearchService"><i class="fa fa-search"></i>Tìm kiếm</button>
            </div>
        </div>
        
    </div>
</div>

<div class="inner-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div id="listNewsWeb">
                    @{
                        Html.RenderAction("SearchNewsWeb", "News", new { Page = 1, Name = "" });
                    }
                </div>               
            </div>
            <div class="col-md-3 col-md-offset-1">
                <aside class="sidebar">
                    <div class="widget wow fadeInRight">
                        <h3 class="widget-title">Categories</h3>
                        <ul class="list-fa">
                            <li><i class="fa fa-long-arrow-right"></i>Lorem Ipsum</li>
                            <li><i class="fa fa-long-arrow-right"></i>Ipsum dolor sit</li>
                            <li><i class="fa fa-long-arrow-right"></i>Amet consecteture</li>
                            <li><i class="fa fa-long-arrow-right"></i>Avenger agains Ultron</li>
                            <li><i class="fa fa-long-arrow-right"></i>Spriderman</li>
                            <li><i class="fa fa-long-arrow-right"></i>Hulk got angry</li>
                        </ul>
                    </div> <!-- .widget -->

                    <div class="widget wow fadeInRight">
                        <h3 class="widget-title">Top rated posts</h3>
                        <ul class="posts">
                            <li>
                                <h4 class="entry-title"><a href="#">Captain America and the rest of Earths Mightiest Heroes</a></h4>
                                <time class="date">03/09/2014</time>
                            </li>
                            <li>
                                <h4 class="entry-title"><a href="#">Ultron, Kang, the Masters of Evil</a></h4>
                                <time class="date">02/09/2014</time>
                            </li>
                        </ul>
                    </div> <!-- .widget -->

                    <div class="widget wow fadeInRight">
                        <h3 class="widget-title">Comment of the month</h3>
                        <blockquote>
                            <p>Repellat eaque fugiat modi amet, similique eos, fugit accusantium.</p>
                            <cite>Paul Smith</cite>
                        </blockquote>
                    </div> <!-- .widget -->
                </aside> <!-- .sidebar -->
            </div>
        </div> <!-- .row -->
    </div> <!-- .container -->
</div> <!-- .inner-content -->