@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 mt-5">
    <div class="breadcrumb-holder">
        <div class="row pb-3 pt-3">
            <div class="text-dark">
                <h4><i class="fa fa-fw fa-tachometer"></i> Tổng quan</h4>
            </div>
        </div>
    </div>
</div>

<div class="row rowCount" id="countDashboard">
    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-4 mb-3">
        <a href="/ServicePlan/Index">
            <div class="card-box padding-card-home bg-home-item" id="">
                <i class="fa fa-mobile-phone float-right text-white size-icon-cardbox-home"></i>
                <h5 class="text-white text-uppercase">Gói cước</h5>
                <h1 class="text-white countItem pb-4">@ViewBag.countItem</h1>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-4 mb-3" id="card-i">
        <a href="/Customer/Index">
            <div class="card-box padding-card-home" id="bg-home-card">
                <i class="fa fa-credit-card float-right text-white size-icon-cardbox-home"></i>
                <h5 class="text-white text-uppercase">Yêu cầu đăng ký</h5>
                <h1 class="text-white countCard pb-4">@ViewBag.Count</h1>
            </div>
        </a>

    </div>

    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-4 mb-3">
        <a href="/Customer/Index">
            <div class="card-box padding-card-home bg-home-customer">
                <i class="fa fa-users float-right text-white size-icon-cardbox-home"></i>
                <h5 class="text-white text-uppercase">Khách hàng</h5>
                <h1 class="text-white countCustomer pb-4">@ViewBag.CountCus</h1>
            </div>
        </a>
    </div>
</div>


