
@{
    ViewBag.Title = "Login";
    Layout = "~/Areas/FrontEnd/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="login-fontend">
        <div class="row align-center">
            <div class="col-6">
                <h3>Đăng Nhập</h3>
                <form id="form-register">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email hoặc số điện thoại</label>
                        <input type="text" class="form-control" id="user-name" placeholder="Email hoặc số điện thoại" autocomplete="off">
                    </div>
                    <div>
                        <label for="exampleInputEmail1">Mật Khẩu</label>
                        <input type="password" class="form-control" id="password" placeholder="Mật khẩu" autocomplete="off">
                    </div>
                    <button style="margin-top:20px;background-color:#0680f9 ; border-radius:5px" type="button" id="btn-login" class="btn btn-primary" onclick="Login()">Đăng nhập</button>
                </form>
            </div>
        </div>
    </div>

</div>

<script>
    $(document).on("keyup", function (e) {
        if (e.keyCode == 13) {
            $("#btn-login").click();
        }
    });
</script>

