@using Data.Model
@using Data.Utils
@model Data.Model.NewsDetailOutputModel

@{
    if (Model == null)
    {
        <h1>Bài viết không tồn tại</h1>
    }
    else
    {
        <div>
            <div class="breadcrumbs">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <a href="index.html">Home</a> &rarr;
                            <a href="@Url.Action("Index","/NewsFrontEnd")">News</a>&rarr;
                            <a>NewsDetail</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inner-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <!--<h2 class="entry-title">-->@*@Model*@<!--</h2>-->
                            <h1>@Model.Title</h1>
                            <h4>@Html.Raw(Model.Summary)</h4>
                            <p> @Html.Raw(Model.Content)</p>
                        </div>
                    </div> <!-- .row -->
                </div> <!-- .container -->
            </div> <!-- .inner-content -->
        </div>
    }
}
