@using APIProject.Models;
@using Data.Model;
@using Data.Model.APIWeb;
@using Data.Utils
@using PagedList.Mvc
@using System.Web
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/FrontEnd/Views/Shared/_Layout.cshtml";
}

@model  PagedList.IPagedList<ListOrderOutputModel>

<div id="myservice">
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-12">
                    <div class="col-md-12 col-12 ">
                        <a href="index.html">Home</a> &rarr;
                        <a href="#">My Service</a>
                    </div>
                </div>
                <div class="col-md-10 offset-md-0 col-sm-6 mt-1">
                    <div class="col-md-2 col-12 mt-1">
                        <input class="form-control" id="txtCusServiceName" placeholder="Tên dịch vụ" />
                    </div>
                    <div class="col-md-2 col-12 mt-1">
                        <input class="form-control" id="txtCodeOrderService" placeholder="Mã đơn hàng" />
                    </div>
                    <div class="col-md-2 col-12 mt-1">
                        <input type="text" class="form-control relative-icon-calendar date" id="CusServiceFromDate" placeholder="Từ ngày" />
                        <i class="fa fa-calendar absolute-icon-calendar"></i>
                    </div>
                    <div class="col-md-2 col-12 mt-1">
                        <input type="text" class="form-control relative-icon-calendar date" id="CusServiceToDate" placeholder="Đến ngày" />
                        <i class="fa fa-calendar absolute-icon-calendar"></i>
                    </div>
                    <div class="col-md-2 col-12 mt-1">
                        <select class="form-control" id="statusCusService">
                            <option selected disabled hidden>Trạng thái</option>
                            <option value="-1">Tất cả</option>
                            <option value="@SystemParam.PENDING" class="text-warning">Chờ xác nhận</option>
                            <option value="@SystemParam.ACCEPT" class="text-primary">Đã xác nhận</option>
                            <option value="@SystemParam.COMPLETE" class="text-success">Hoàn thành</option>
                            <option value="@SystemParam.CANCEL" class="text-danger">Hủy</option>
                        </select>
                    </div>
                    <div class="col-md-2  col-12 mt-1 ">
                        <button class="btn btn-primary " id="btn-search-order" onclick="searchMyservice()"><i class="fa fa-search"></i> Tìm kiếm</button>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="inner-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div id="tabCusService">
                        @{
                            Html.RenderAction("SearchCusService", "ServicePlanFE", new { Page = 1 });
                        }
                    </div>
                </div>
            </div> <!-- .row -->
        </div> <!-- .container -->
    </div> <!-- .inner-content -->
</div>

<script type="text/javascript">
    function searchMyservice() {
        var searchkey = $('#txtCusServiceName').val()P;
        var code = $('#txtCodeOrderService').val();
        var fromdate = $('#CusServiceFromDate').val();
        var todate = $('#CusServiceToDate').val();
        var status = $('#statusCusService').val();

        $.ajax({
            url: "/FrontEnd/ServicePlanFE/SearchCusService",
            data: { Page: 1, SearchKey: searchkey, Code: code, Status: status, Fromdate: fromdate, Todate: todate },
            type: "GET",
            success: function (rs) {
                $('#tabCusService').html(rs);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>