@using APIProject.Models;
@using Data.Model;
@using Data.Model.APIWeb;
@using Data.Utils
@using PagedList.Mvc
@using System.Web
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/FrontEnd/Views/Shared/_Layout.cshtml";
}

@model  PagedList.IPagedList<ListOrderOutputModel>

<div id="myservice">
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-12">
                    <div class="col-md-12 col-12 ">
                        <a href="@Url.Action("Index","/HomeFrontEnd")">Home</a> &rarr;
                        <a href="#">My Service</a>
                    </div>
                </div>
                <div class="col-md-10 offset-md-0 col-sm-6 mt-1">
                    <div class="col-md-3 col-12 mt-1">
                        <input class="form-control" id="txtCusServiceName" placeholder="Tên dịch vụ" />
                    </div>
                    <div class="col-md-3 col-12 mt-1">
                        <input class="form-control" id="txtCodeOrderService" placeholder="Mã đơn hàng" />
                    </div>
                    <div class="col-md-3 col-12 mt-1">
                        <select class="form-control" id="statusCusService">
                            <option selected disabled hidden>Trạng thái</option>
                            <option value="-1">Tất cả</option>
                            <option value="@SystemParam.ACTIVE_STATUS" class="text-primary">Đang hoạt động</option>
                            <option value="@SystemParam.NO_ACTIVE_STATUS" class="text-warning">Ngừng hoạt động</option>

                        </select>
                    </div>
                    <div class="col-md-3  col-12 mt-1 ">
                        <button class="btn btn-primary " id="btn-search-order" onclick="searchMyservice()"><i class="fa fa-search"></i> Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="inner-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div id="tabCusService">
                        @{
                            Html.RenderAction("SearchCusService", "ServicePlanFE", new { Page = 1 });
                        }
                    </div>
                </div>
            </div> <!-- .row -->
        </div> <!-- .container -->
    </div> <!-- .inner-content -->
</div>

<script type="text/javascript">
    function searchMyservice() {
        var searchkey = $('#txtCusServiceName').val();
        var code = $('#txtCodeOrderService').val();
        var fromdate = "";
        var todate = "";
        var status = $('#statusCusService').val();

        $.ajax({
            url: "/FrontEnd/ServicePlanFE/SearchCusService",
            data: { Page: 1, SearchKey: searchkey, Code: code, Status: status, Fromdate: fromdate, Todate: todate },
            type: "GET",
            success: function (rs) {
                $('#tabCusService').html(rs);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function CusDelServicePlan(id) {
        if (!navigator.onLine) {
            swal({
                title: "Kiểm tra kết nối internet!",
                text: "",
                icon: "warning"
            })
            return;
        }
        swal({
            title: "Bạn chắc chắn xóa chứ?",
            text: "",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    url: '/FrontEnd/ServicePlanFE/CusDelServicePlan',
                    data: { id: id },
                    type: "POST",
                    beforeSend: function () {
                        $('#modalLoad').modal('show');
                    },
                    success: function (response) {
                        if (response.Status == 1) {
                            $('#modalLoad').modal('hide');
                            toastr.success("Xóa thành công !");
                            searchMyservice();

                        } else {
                            $('#modalLoad').modal('hide');
                            swal({
                                title: res.Message,
                                text: "",
                                icon: "error"
                            });
                        }
                    },
                    error: function (result) {
                        console.log(result.responseText);
                    }
                });
            }
        })
    }
</script>