@{
    //ViewBag.Title = "Index";
    Layout = "~/Areas/FrontEnd/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <a href="index.html">Home</a> &rarr;
                <a href="#">Services</a>
            </div>

            <div class="col-md-3 offset-md-0 col-sm-6 mt-1">
                <select id="cateServiceID" class="form-control">
                    <optgroup label="Tiêu đề">
                        <option value="0">Tất cả </option>
                        @foreach (var tp in ViewBag.ListCategory)
                        {
                            <option value="@tp.ID">@tp.Name</option>
                        }
                    </optgroup>
                </select>
            </div>

            <div class="col-md-4 col-sm-12">
                <input type="text" class="form-control" id="txtSearchService" placeholder="Nội dung tìm kiếm" />
            </div>
            <div class="col-md-2 col-sm-12">
                <button class="btn btn-block btn-primary" id="btnSearchService"><i class="fa fa-search"></i>Tìm kiếm</button>
            </div>
        </div>
    </div>

</div>

<div class="page-content">


    <div class="fullwidth-block">
        <div class="container">
            <h1>Duis ac scelerisque lacus nulla non dolor id dui venenatis laoreet fusce vitae</h1>
            <p class="leading muted">Aliquam nibh quam iaculis tempus dignissim quis faucibus etiam dignissim tempus nibh nec venenatis turpis bibendum vivamus laoreet odio eleifend iaculis</p>
        </div>
    </div>

    <div class="fullwidth-block feature-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-6 col-us">
                    <div class="feature top-icon has-connector wow fadeInUp">
                        <i class="icon-server-search"></i>
                        <h3 class="feature-title">Pallesque sapien</h3>
                        <p>Vivamus lacus vitae dapibus euismod dolor donec amet nisi amet nisi varius maximus sed.</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 col-us">
                    <div class="feature top-icon has-connector wow fadeInUp" data-wow-delay=".2s">
                        <i class="icon-server-update"></i>
                        <h3 class="feature-title">Pallesque sapien</h3>
                        <p>Vivamus lacus vitae dapibus euismod dolor donec amet nisi amet nisi varius maximus sed.</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 col-us">
                    <div class="feature top-icon has-connector wow fadeInUp" data-wow-delay=".4s">
                        <i class="icon-server-add"></i>
                        <h3 class="feature-title">Pallesque sapien</h3>
                        <p>Vivamus lacus vitae dapibus euismod dolor donec amet nisi amet nisi varius maximus sed.</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 col-us wow fadeInUp" data-wow-delay=".6s">
                    <div class="feature top-icon">
                        <i class="icon-server-lock"></i>
                        <h3 class="feature-title">Pallesque sapien</h3>
                        <p>Vivamus lacus vitae dapibus euismod dolor donec amet nisi amet nisi varius maximus sed.</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .feature-section -->

    <div class="fullwidth-block pricing-section" id="listService">
        @{
            Html.RenderAction("SearchService", "ServicePlanFE", new { Page = 1 });
        }

    </div> <!-- .pricing-section -->

</div> <!-- .inner-content -->
@* model load *@
@*<div class="modal" id="modalLoad" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content text-center py-3">
                <div class="modal-body text-center">
                    <i class="fa fa-spinner text-success fa-spin" style="font-size: 40px;"></i>
                    <div class="col-md-12 text-center mt-2">
                        <span>Đang xử lý</span>
                    </div>
                </div>
            </div>
        </div>
    </div>*@


<script type="text/javascript">
    // danh sách tìm kiếm
    $("#btnSearchService").click(function () {
        var search = $("#txtSearchService").val();
        var cateid = $("#cateServiceID").val();
        $.ajax({
            url: "/ServicePlanFE/SearchService",
            data: { Page: 1, Name: search, CateID: cateid },
            success: function (rs) {
                alert(1);
                //$('#modalLoad').modal('hide');
                $("#listService").html(rs);
            }
        });
    });

</script>
