@using Data.Model
@using Data.Utils
@{
    //ViewBag.cus = cusid;
    Layout = "~/Areas/FrontEnd/Views/Shared/_Layout.cshtml";
}
<div id="serviceweb">
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <a href="index.html">Home</a> &rarr;
                    <a href="#">Services</a>
                </div>

                <div class="col-md-3 offset-md-0 col-sm-6 mt-1">
                    <select id="cateServiceID" class="form-control">
                        <optgroup label="Tiêu đề">
                            <option value="0">Tất cả </option>
                            @foreach (var tp in ViewBag.ListCategory)
                            {
                                <option value="@tp.ID">@tp.Name</option>
                            }
                        </optgroup>
                    </select>
                </div>

                <div class="col-md-4 col-sm-12">
                    <input type="text" class="form-control" id="txtSearchService" placeholder="Nội dung tìm kiếm" />
                </div>
                <div class="col-md-2 col-sm-12">
                    <button class="btn btn-block btn-primary" id="btnSearchService"><i class="fa fa-search"></i>Tìm kiếm</button>
                </div>
            </div>
        </div>

    </div>

    <div class="page-content">

 <!-- .feature-section -->

        <div class="fullwidth-block pricing-section">
            <div id="listService">
                @{
                    Html.RenderAction("SearchService", "ServicePlanFE", new { Page = 1 });
                }
            </div>


        </div> <!-- .pricing-section -->

    </div> <!-- .inner-content -->
</div>



<script type="text/javascript">
    // tất cả js của dịch vụ viết ở đây
    // danh sách tìm kiếm
    $("#btnSearchService").click(function () {
        var search = $("#txtSearchService").val();
        var cateid = $("#cateServiceID").val();
        $.ajax({
            url: "/FrontEnd/ServicePlanFE/SearchService",
            data: { Page: 1, Name: search, CateID: cateid },
            success: function (rs) {
                $("#listService").html(rs);
            }
        });
    });

    // chi tiết dịch vụ
    function serviceDetail(id) {
        //$('#modalLoad').modal('show');

        $.ajax({
            url: "/FrontEnd/ServicePlanFE/ServiceDetail",
            data: { ID: id },
            type: "GET",
            success: function (rs) {
                ////$('#modalLoad').modal('hide');
                $('#serviceweb').html(rs);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function ChangProvinceService($target) {
        let province_id = $target.val();
        $.ajax({
            url: "/HomeFrontEnd/GetListDistrict",
            type: "GET",
            data: {
                province_id: province_id
            }, success: function (res) {
                $("#district-service").empty();
                $.each(res, function () {
                    $("#district-service").append('<option value="' + this.id + '">' + this.value + '</option>')
                })
                ChangeDistrict($("#district-service"))
            }
        })
    }

    function ChangeDistrictService($target) {
        let district_id = $target.val();
        $.ajax({
            url: "/HomeFrontEnd/GetListVillage",
            type: "GET",
            data: {
                district_id: district_id
            }, success: function (res) {
                $("#village-service").empty();
                $.each(res, function () {
                    $("#village-service").append('<option value="' + this.id + '">' + this.value + '</option>')
                })
            }
        })
    }
    // đặt đơn hàng
    function createOrder(id) {
        var note = $('#txtNoteservice').val();
        var provinceid = $('#province-service').val();
        var districtid = $('#district-service').val();
        var villageid = $('#village-service').val();
        var address = $('#txtAddressservice').val();
        $.ajax({
            url: "/FrontEnd/ServicePlanFE/CreateOrder",
            data: { ServiceID: id, Note: note, ProvinceID: provinceid, DistrictID: districtid, VillageID: villageid, Address: address},
            type: "POST",
            success: function (rs) {
                if (rs == 1)
                {
                    swal({
                        title: "Thành công!",
                        text: "",
                        icon: "success"
                    });
                }
                else if (rs == -1)
                {
                    // chuyển qua login 
                    alert("chuyển qua đăng nhập");
                } else
                {
                    swal({
                        title: "Thất bại!",
                        text: "",
                        icon: "warning"
                    });
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

</script>