
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/FrontEnd/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    <div class="container">
        <a href="@Url.Action("Index","/HomeFrontEnd")">Home</a> &rarr;
        <a href="#">Contact</a>
    </div>
</div>

<div class="page-content">


    <div class="fullwidth-block">
        <div class="container">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3464.663455682949!2d105.77998506774287!3d21.029713765210882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x97be82a66bbe646b!2sDetech%20Building!5e0!3m2!1svi!2s!4v1611220742611!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>

    <div class="fullwidth-block">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h1 class="wow fadeInLeft">Địa chỉ</h1>
                    <address class="wow fadeInLeft">
                        <p>8 Tôn Thất Thuyết, Mỹ Đình, Nam Từ Liêm, Hà Nội, Việt Nam</p>
                        <p>
                            Phone: +1 932 349 313 <br>
                            nexussystem123@gmail.com
                        </p>
                    </address>
                </div>
                <div class="col-md-8">
                    <h1 class="wow fadeInRight">Liên hệ</h1>
                    <form action="#">
                        <div class="row">
                            @*<div class="col-md-4">
                                    <p class="wow fadeInRight"><input type="text" placeholder="Your name..."></p>
                                    <p class="wow fadeInRight"><input type="text" placeholder="Company Name..."></p>
                                    <p class="wow fadeInRight"><input type="email" placeholder="Email..."></p>
                                </div>*@
                            <div class="col-md-12">
                                <p class="wow fadeInRight"><textarea name="" id="txtContent"></textarea></p>
                                <input type="submit" class="button pull-right wow fadeInRight" id="btnCreateFeedback" value="Gửi">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div> <!-- .inner-content -->

<script type="text/javascript">
    $('#btnCreateFeedback').click(function () {
        var content = $('#txtContent').val();
        $.ajax({
            url: "/Contact/CreateFeedBack",
            type: "POST",
            data: { Content: content },
            success: function (rs) {
                if (rs == -1) {
                    // chuyển qua đăng nhập
                    location.href = "/FrontEnd/HomeFrontEnd/Login";
                } else if (rs > 0) {
                    // thành công
                    swal({
                        title: "Thành công !",
                        text: "",
                        icon: "success"
                    })
                }
                // thất bại
                swal({
                    title: "Thất bại !",
                    text: "",
                    icon: "Errorwarning"
                })
            }
        });
    });
</script>